#p1{
    font-size: 2rem;
    color:whitesmoke;
}
#intro{
    font-size: large;
}
#bg{
    background-image: url(wallpaperflare.com_wallpaper.jpg);
    background-attachment: fixed;
   
}
p{
    font-size: 1.2rem;
    color:rgb(255, 255, 255);
    text-align: justify;
    padding:0% 2% 0% 0%
}
b{
    font-size: 1.4rem;
    color:beige;
    background-color: rgb(12, 87, 87);
}

.a{
    font-size: 1.4rem;
    color:red;
}
li{
    color:aliceblue;
}
/* #bg{
    background-color: black;
} */

table{
    width:100;
    border: 1px solid white;
    border-collapse: collapse;
    empty-cells: hide;
}
th{
    font-size: 1.5em;
    color:darkseagreen;
    border: 1px solid white;
    empty-cells: hide;
    width:60rem;
    height:5rem;
}
td{
    border:1px solid white;
    color: azure;
    width:60rem;
    height: 5rem;
    text-align:center;
    

}
tr{
    border:1px solid white;
    empty-cells: hide;

}
#caption{
    font-size: 2em;
    color:aliceblue;
    border: 2px solid white;;
}
a{  
    font-size: 1.5em;
    text-decoration: none;
    
}
a:link{
    color:bisque;
}
a:visited{
    color:blueviolet;
}
a:hover{
    color:red;
}
a:active{
    color:yellow;
}

/* #submit:hover{
    display:inline-block;
    transform: translate(100px , -100px);    
} */


#last{
    background-color: #006e7c;
    color: rgba(250, 235, 215, 0.725);
}
.atom{
    font-size: medium;
    border: 1px solid rgba(128, 127, 126, 0.674);
    display:inline-block;
    padding: 5px;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    margin: 22px;
    
}

#main{
    border: 1px solid black;
    display:flex;
    justify-content: space-around;
    margin: 2px;
    
}
#heading{
    color:white;
    background-color: rgba(113, 113, 113, 0.67);
    padding:2% 25% 2% 30%;
}

#logo{
    align-content: start;
}
.atom:link{
    color:whitesmoke;
}
.atom:visited{
    color:rgb(17, 113, 121);
}
.atom:hover{
    color:red;
}
.atom:active{
    color:yellow;
}

.contacts{
    border:1px solid black;
    display:flex;
    flex-direction: column;

}